/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: acumin-pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: '#fff';
  background-image: linear-gradient(#021e3f, #002a67);
}

ng2-smart-table {
  font-weight: normal !important;
  
  .ng2-smart-sort, .ng2-smart-sort-link {
    color: #888 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
  }

  .ng-star-inserted {
    font-size: 14px;
  }

  tbody tr:nth-child(odd) {
    background-color: #efefef;
  }

  tbody td {
    height: 45px;
  }
}

mat-tab-group {
  .mat-tab-label-content {
    color: #1199fa !important;
  }

  .mat-ink-bar {
    background-color: #1199fa !important;
  }
}
