.modal-header {
  color: #fff;
}

.bg-info {
  background-color: #007bff !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.btn {
  font-size: 12px;
  line-height: 15px;
}

.btn-outline-primary {
  color: #007bff;
}
.btn-outline-danger {
  color: #dc3545;
}
.btn:hover {
  color: #fff !important;
}
